@media only screen and (min-width: 800px){
    body{padding: 0;
        margin: 0;
        display: flex;
        }
        
        #navbar{
            position: fixed;
            padding: 2.5%;
            width: 30vw;
            height: 100%;
        }
        #main-doc{
            width: 70vw;
            margin-left: 30%;
        }
        #navbar ul{
            padding: 1%;
            list-style: none;
        }
        #navbar li{
            padding: 5%;
            list-style: none;
        }
        #navbar li a{
            text-decoration: none;
            color: black;
            
        }
}
@media only screen and (max-width: 800px){
    body{padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        }
        
        #navbar{
            /* position: fixed; */
            /* padding: 2.5%; */
           
            
        }
        #main-doc{
            padding: 3%;
           
        }
        #navbar ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1%;
            list-style: none;
            height: auto;
            overflow: scroll;
            height: 40vw;
            overflow-x: hidden;
        }
        #navbar li{
            padding-top: 5%;
            padding-bottom: 5%;

            list-style: none;
            border-width: 2px;
            border-color: black;
            border-style: solid;
            width: 100vw;
            text-align: center;
            
        }
        #navbar li a{
            text-decoration: none;
            color: black;
            
        }

}

 header{
    font-size: 33px;
    padding: 1.5%;
    font-weight: bold;
}
article{font-size: 18px;

padding: 1.5%;}

#navbar li:hover{
    background-color: darkgrey;
}